{%- extends 'base.html' -%}

{%- block seo -%}
<meta name="description" content="書き置き場はnogisshというHNで生きている人間のブログです。" />
{%- endblock -%}

{%- block title-%}書き置き場{%- endblock -%}

{%- block content -%}
<div>
    <div>
        {%- for article in article_list -%}
        <div class="section uk-padding-small uk-background-default uk-margin-bottom">
            <h2 class="uk-text-lead uk-margin-top">
                <a href="/articles/{{ article['id'] }}">
                    {{ article['title'] }}
                </a>
            </h2>

            <p class="uk-text-small">
                {{ article['description'] }}
            </p>

            <div>
                <span uk-icon="tag" class="uk-margin-small-right"></span>
                {% for tag in article['tags'] %}
                <span class="uk-label uk-margin-small-right">{{ tag }}</span>
                {% endfor %}
            </div>

            <p class="uk-text-small uk-margin-small">
                作成日：{{ article['created_date']}}
            </p>
        </div>
        {%- endfor -%}
    </div>

    <div class="uk-margin-top uk-text-center">
        <a href="/search.html" class="uk-button uk-button-default">過去の記事を探す</a>
    </div>
</div>
{%- endblock -%}
